@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $color_text;
  //background: $color_background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 375px;
  max-width: 100%;
  background: $color_background;
  padding: 32px;
  max-height: 100vh;
}

.header {
  &__title {
    font-size: 24px;
    text-align: center;
  }
}

.datetime {
  padding: 24px;
  text-align: center;
}

.glass {
  padding: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../assets/img/Vector.svg') center center no-repeat;
  height: 250px;
  min-width: 160px;
  &__counter {
    font-size: 36px;
  }
  
  
  &__button {
    border-radius: 8px;
    max-width: 140px;
    font-size: 16px;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
    letter-spacing: 0.8px;
    &--add {
      background: linear-gradient(180deg, #0077BE 0%, rgba(0, 119, 190, 0) 100%);
      background-blend-mode: difference;
      //mix-blend-mode: normal;
      border: 1px solid $color_background;
      filter: blur(.15px);
      box-shadow: 0 0 10px $color_background;
    }
    &--remove {
      background: linear-gradient(180deg, rgba(109, 161, 193, 0) 0%, #BE4700 75.52%);
      background-blend-mode: hard-light;
      border: 1px solid $color_background;
      margin-top: 12px;


    }
  }
  
}

.glass__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  font-variant: small-caps;
  font-size: 75%;
}